.nav-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: var(--nav-size);
  background-color: var(--color-primary);

  hr {
    width: 40%;
    margin: 0 auto;
    size: .5px;
    color: var(--color-secondary);
  }

  .nav-home {
    padding: 4px;
  }
}